<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Insert AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <title>Module2</title>
</head>
<body ng-app="main">
    <div class="container">
        <h1>Shopping List Check Off</h1>
              
        <div class="row">
              
        <!-- To Buy List -->
            <div class="col-md-6" ng-controller="hacerComprarCtrl">
                <h2>To Buy:</h2>
                <ul>
                    <li ng-repeat="items in items">
                            Buy {{ items.quantity }} {{ items.name }} 
                            <button class="btn btn-default" ng-click="comprarItem($index)"><span class="glyphicon glyphicon-ok"></span> Bought</button>
                    </li>
                </ul> 
                <div class="emptyMessage" ng-if="!items.length">Everything is bought!</div>
            </div>

            <!-- Alredy Bought List-->
            <div class="col-md-6" ng-controller="compradoCtrl">
                <h2>Alredy Bought:</h2>
                <ul>
                    <li ng-repeat="items in items">
                            Buy {{ items.quantity }} {{ items.name }}
                    </li>
                </ul>
                <div class="emptyMessage" ng-if="!items.length">Nothing bought yet.</div>
            </div>  
            
        </div>
    </div>


    <!-- Module   -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/mainController.js"></script>
    <!-- Services -->
    <script src="js/services/listaComprar.js"></script>

</body>
</html>